/*------------------------------------------------------------------
[Comments table]

1. VARIABLES
2. GENERAL STYLE
    2.1 TYPOGRAPHY
    2.2 SPECIAL CLASSES
    2.3 FLEXBOX CLASSES
    2.4 SOCIAL ICONS
3. HEADE
    3.1 BURGER BUTTON
    3.2 FULLSCREEN MENU
4. HOME 
5. ABOUT ME
6. CASES
7. CONTACT
8. PRELOADER
9. RESPONSIVE RULES
10. ANIMATIONS
11. SCROLL BAR
------------------------------------------------------------------*/

/**
 * 1. VARIABLES
 */
:root {
  --green-color: #6cff6c;
  --light-grey: #7d7d88;
  --dark-grey: #1d1d1d;
  --white-color: #fff;
}

/**
 * 2. GENERAL STYLE
 */
::selection {
  background: var(--light-grey);
  color: var(--white-color);
}
::-moz-selection {
  background: var(--light-grey);
  color: var(--white-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}
html,
body {
  scroll-behavior: smooth;
  color: var(--dark-grey);
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none;
  user-select: none;
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
span {
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  outline: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/**
 * 2.1 TYPOGRAPHY
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
h1 {
  font-size: calc(48px + 1vw);
}
h6 {
  font-size: 16px;
}
blockquote {
  margin: 0 auto 15px;
  font-size: 1em;
}
p {
  font-size: 14px;
}

/**
 * 2.2 SPECIAL CLASSES
 */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.tags {
  color: var(--light-grey);
  position: fixed;
  bottom: 0;
  left: 10px;
  font-size: 14px;
  font-family: "La Belle Aurore", cursive;
  z-index: 800;
}
.top-tags {
  bottom: auto;
  top: 90px;
}
.bottom-tags {
  bottom: 20px;
}
.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.position-relative {
  position: relative;
}
header.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
  position: relative;
  opacity: 0;
}
header.title h4 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 0.9em;
  z-index: 5;
}
header.title div.sublime {
  position: absolute;
  width: 15%;
  height: 10px;
  background-color: var(--green-color);
  bottom: 20px;
  z-index: 4;
}
.fade-left--in {
  animation: left-in 1.2s ease-in-out 0.5s 1 normal forwards,
    fade-left-in 1.2s ease-in-out 0.8s 1 normal forwards;
}
@keyframes left-in {
  0% {
    transform: translateX(260px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fade-left-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
* 2.3 FLEXBOX CLASSES
*/
.flex-container {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
  justify-content: center;
}
.align-center--between {
  align-items: center;
  justify-content: space-between;
}
.align-center--evenly {
  align-items: center;
  justify-content: space-evenly;
}
.align-center--around {
  align-items: center;
  justify-content: space-around;
}

/*
* 2.4 SOCIAL ICONS
*/
.social-icons {
  margin-top: 20px;
  height: 30px;
  display: flex;
  align-items: center;
}
.social-line {
  width: 80px;
  height: 1px;
  margin-right: 15px;
  background-color: var(--white-color);
}
.social-display {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  overflow: hidden;
}
.social-wrap {
  display: block;
  width: 30px;
  height: 60px;
  transition: all 0.2s ease-in-out;
}
.social-display:hover .social-wrap {
  margin-top: -30px;
}
.social-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
* 3 HEADER
*/
header .ds-logo {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 0;
  left: 15px;
  z-index: 100;
  opacity: 0;
  animation: fade-in 0.8s ease-in-out 3.5s 1 normal forwards;
}

/**
 * 3.1 BURGER BUTTON
 */
.ds-nav--content {
  position: fixed;
  top: 0;
  right: 15px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  transition: 0.5s;
  animation: fade-in 0.8s ease-in-out 3.5s 1 normal forwards;
}
.btn-nav--container {
  width: 60px;
  height: 30px;
  cursor: pointer;
  z-index: 999;
  background: transparent;
  border: none;
  outline: none;
}
.btn-nav {
  width: 100%;
  height: 2px;
  background: var(--dark-grey);
  top: 0;
  transition: all ease 0.2s;
  position: relative;
}
.btn-nav:before,
.btn-nav:after {
  content: "";
  position: absolute;
  left: 0;
  background: var(--dark-grey);
  height: 100%;
  transition: all ease 0.3s;
}
.btn-nav:before {
  top: -8px;
  width: 50%;
}
.btn-nav:after {
  top: 8px;
  width: 75%;
}
.btn-nav--container:hover .btn-nav:before,
.btn-nav--container:hover .btn-nav:after {
  width: 100%;
}
.btn-nav--container.close-menu .btn-nav {
  transform: rotate(-45deg);
}
.btn-nav--container.close-menu .btn-nav:after {
  opacity: 0;
  transition: all ease 0.2s;
}
.btn-nav--container.close-menu .btn-nav:before {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
  transition: all ease 0.2s;
  background: var(--dark-grey);
}

/**
 * 3.2 FULLSCREEN MENU
 */

.float-nav {
  z-index: 9;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
}
.float-nav .bg1,
.float-nav .bg2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(108, 255, 108, 0.6);
  top: 0;
  left: 100%;
  transition: all 0.7s ease 0.3s;
}
.float-nav .bg2 {
  z-index: 99;
  background: var(--green-color);
  transition-delay: 0s;
}
.float-nav .container {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  max-width: none;
}
.float-nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  opacity: 0;
  transition: all 0.3s ease 0s;
  padding: 0;
  margin: 40px 10px;
}
.float-nav ul li {
  position: relative;
  padding: 6px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.2s ease 0.3s;
}
.float-nav ul li:last-child {
  margin-top: 40px;
}
.float-nav ul li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "La Belle Aurore", cursive;
  font-size: 9em;
  color: var(--dark-grey);
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  transition: 0.5s;
  white-space: nowrap;
}
.float-nav ul li:hover::before {
  opacity: 0.2;
  letter-spacing: 0;
}
.float-nav ul li span {
  font-size: 40px;
  writing-mode: vertical-rl;
  font-weight: 700;
  margin-right: 10px;
}
.float-nav ul li a {
  color: var(--white-color);
  font-size: 45px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  padding: 5px;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease 0.2s;
}
.float-nav ul li a:hover {
  transform: scale(1.2);
  opacity: 1;
}
.float-nav ul li a span {
  margin-right: 15px;
}
.float-nav ul li a span img {
  width: 40px;
}
.float-nav.active .bg1,
.float-nav.active .bg2 {
  left: 0;
}
.float-nav.active .bg1 {
  transition-delay: 0s;
}
.float-nav.active .bg2 {
  transition-delay: 0.3s;
}
.float-nav.active ul {
  opacity: 1;
  transition-delay: 1s;
}
.show-mobile {
  display: inline-block;
}
/*
* 4. HOME
*/
.home {
  width: 100%;
  height: 100vh;
  position: relative;
}
.home .display {
  height: 100vh;
  margin-bottom: 20px;
  justify-content: center;
}
.home .display .wrap-title {
  overflow: hidden;
}
.home .display h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 0.9em;
  transition: 0.5s;
  position: relative;
}
.home .display h1 span {
  margin-bottom: 2px;
  opacity: 0;
  animation: reveal-text 0.7s linear forwards;
}
.home .display h1 span:nth-child(1) {
  animation-delay: 2s;
}
.home .display h1 span:nth-child(2) {
  color: var(--green-color);
  animation-delay: 2.5s;
}
.home .display h1 span:nth-child(3) {
  animation-delay: 3s;
}
.home .display h1 span::after {
  margin-bottom: 5px;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0; /* width 100% will take the width of whole h1 block */
  height: 100%;
  background: var(--green-color);
  animation: reveal-block 1s ease-in-out forwards;
}
.home .display h1 span:nth-child(1)::after {
  animation-delay: 1.5s;
}
.home .display h1 span:nth-child(2)::after {
  animation-delay: 2s;
}
.home .display h1 span:nth-child(3)::after {
  animation-delay: 2.5s;
}
.home .display h1 span {
  position: relative;
  text-transform: uppercase;
  display: block;
}
.home .display h1 span:nth-child(2)::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 34%;
  width: 20%;
  height: 10px;
  background-color: var(--green-color);
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
  z-index: 1;
}
.home .display h1:hover span:nth-child(2)::before {
  transform: scaleX(1);
}
.home .display h1 span:nth-child(3)::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  width: 27%;
  height: 10px;
  background-color: var(--green-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  z-index: 1;
}
.home .display h1:hover span:nth-child(3)::before {
  transform: scaleX(1);
}
.home .display h1 span hide {
  transition: 0.5s;
  transition-delay: 1s;
}
.home .display h1:hover span hide {
  transition-delay: 0.2s;
  color: var(--light-grey);
  opacity: 0;
}
.home .display h1:hover span:nth-child(2) hide {
  padding-left: 10px;
}
.home .display h1:hover span:nth-child(3) hide {
  padding-right: 10px;
}
.home .display h4 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--light-grey);
  letter-spacing: 0.2em;
  position: relative;
  opacity: 0;
  animation: fade-in 0.8s ease-in-out 2.8s 1 normal forwards;
}
.home .display .wrap-photo {
  position: relative;
  opacity: 0;
  animation: fade-in 0.8s ease-in-out 2.8s 1 normal forwards;
}
.home .display .wrap-photo,
.home .display .wrap-photo .ds-photo {
  width: 100%;
  max-width: 320px;
}
.home .display .wrap-photo img:first-child {
  position: absolute;
  top: 10%;
  left: 0;
}
.home .display .wrap-photo img:last-child {
  position: absolute;
  bottom: -10%;
  right: -10%;
}
.scroll {
  width: 12px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  opacity: 0;
  z-index: 7;
  animation: fade-in 0.8s ease-in-out 3.5s 1 normal forwards;
}
.scroll a {
  display: block;
  height: 140px;
  position: relative;
  overflow: hidden;
}
.scroll-top::before {
  transform-origin: bottom;
  animation: reveal-block-up 0.5s ease-in-out 1 normal forwards;
}
.scroll-top::before,
.scroll-down::after {
  content: "";
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  top: 0;
  background-color: var(--green-color);
  position: absolute;
  z-index: 8;
}
.scroll-down::after {
  transform-origin: top;
  animation: reveal-block-down 0.6s ease-in-out 1 normal forwards;
}
.scroll a span.scroll-display {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}
span.scroll-display span {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll a:hover span.scroll-display {
  bottom: -140px;
}
.show-display {
  display: none;
}
/*
* 5. ABOUT ME
*/
.about {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
}
.about .about-display {
  width: 100%;
  height: auto;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ds-title {
  margin-bottom: 20px;
  opacity: 0;
}
.ds-title h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 0.9em;
  transition: 0.5s;
  position: relative;
}
.ds-title h1 span {
  position: relative;
  text-transform: uppercase;
  display: inline;
}
.ds-title h1 span:first-child {
  color: var(--green-color);
}
.ds-title h1 span:first-child::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  width: 40%;
  height: 10px;
  background-color: var(--green-color);
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
  z-index: 1;
}
.ds-title h1:hover span:first-child::before {
  transform: scaleX(1);
}
.ds-title h1 span hide {
  transition: 0.5s;
  transition-delay: 1s;
}
.ds-title h1:hover span hide {
  transition-delay: 0.2s;
  color: var(--light-grey);
  opacity: 0;
}
.ds-title h1:hover span:first-child hide {
  padding-left: 20px;
}
.about-me {
  opacity: 0;
}
.about-me p {
  text-align: justify;
  margin-bottom: 20px;
  line-height: 18px;
  letter-spacing: 0.1em;
}
.about-me p em {
  color: var(--green-color);
}
.experience {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.experience span:nth-child(1) {
  width: 80px;
  height: 80px;
  background-color: var(--green-color);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 73px;
  font-weight: 700;
  line-height: 60px;
}
.experience span:nth-child(2),
.experience span:nth-child(3) {
  font-size: 34px;
  line-height: 30px;
}
.experience span:nth-child(2) {
  writing-mode: vertical-lr;
  margin-left: 5px;
}
.ds-your--idea {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/*
* 6. CASES
*/
.cases {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.cases {
  height: table;
  padding: 20px 0;
}
.cases .slide-cases-mb {
  width: 100%;
  height: 493px;
  overflow: hidden;
  opacity: 0;
}
.slide-cases-mb .swiper-slide {
  justify-content: center;
  opacity: 0.3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slide-cases-mb .swiper-slide .wrap-case-img {
  z-index: 900;
  flex: 1;
}
.slide-cases-mb .swiper-slide .wrap-case-img img {
  z-index: 900 !important;
}
.slide-cases-mb .swiper-slide .box {
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.slide-cases-mb .swiper-slide .box h1 {
  font-size: 35px;
}
.slide-cases-mb .swiper-slide .box h4 {
  font-size: 28px;
  color: var(--green-color);
}
.slide-cases-mb .swiper-slide .box p {
  padding: 5px 0;
  font-size: 14px;
}
.slide-cases-mb .swiper-slide .box h5 {
  font-size: 12px;
  font-weight: 600;
  color: var(--light-grey);
}
.slide-cases-mb .swiper-slide.swiper-slide-active {
  opacity: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.area-slide {
  display: none;
}
.control-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
}
.control-slide .swiper-cout-content {
  width: 80px;
  padding: 5px;
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 14px;
  font-weight: 600;
}
.control-slide .swiper-btn-next,
.control-slide .swiper-btn-prev {
  display: none;
}
.control-slide .swiper-count {
  display: none;
}
/*
* 7. CONTACT
*/

/*
* 8. PRELOADER
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999999999;
}
.preloader.immune {
  bottom: 0;
}
.preloader.white {
  background-color: rgba(255, 255, 255, 0.3);
}
.preloader.black {
  background-color: rgba(1, 1, 1, 0.5);
}
.preloader > i.radial-loader:not(:required) {
  -moz-animation: radial-loader 0.5s infinite linear;
  -webkit-animation: radial-loader 0.5s infinite linear;
  animation: radial-loader 0.5s infinite linear;
  border-color: var(--green-color);
  border-style: solid;
  border-width: 2px;
  border-right-color: transparent;
  border-radius: 100%;
  display: block;
  position: relative;
  float: right;
  margin: 10px 15px;
  overflow: hidden;
  width: 10px;
  height: 10px;
}
.preloader > span.loading-bar {
  -moz-animation: loading-bar 3s 1;
  -webkit-animation: loading-bar 3s 1;
  animation: loading-bar 3s 1;
  display: block;
  height: 2px;
  background-color: #ea6052;
  opacity: 0;
  transition: width 0.5s;
}
.preloader > span.loading-bar.green-colored {
  background-color: var(--green-color);
}
.preloader > .green-colored.radial-loader {
  border-color: var(--green-color);
  border-right-color: transparent !important;
}

/*
* 9. RESPONSIVE RULES
*/
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
  .show-mobile {
    display: none !important;
  }
  header.title h1 {
    font-size: 40px;
  }
  /*
  * 3 HEADER
  */
  header .ds-logo {
    left: 40px;
  }

  /**
  * 3.1 BURGER BUTTON
  */
  .ds-nav--content {
    right: 40px;
  }

  /**
  * 4. HOME
  */
  .home .display {
    height: 100vh;
    justify-content: space-between;
  }
  .home .display h1 {
    font-size: 73px;
  }
  .home .display h1:hover span:nth-child(2) hide {
    padding-left: 40px;
  }
  .home .display h1:hover span:nth-child(3) hide {
    padding-right: 40px;
  }
  .show-display {
    display: block;
  }
  /*
  * 5. ABOUT ME
  */
  .about .about-display {
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .ds-title,
  .about-me {
    width: 50%;
  }
  .ds-title h1 {
    font-size: 73px;
  }

  /*
  * 7. CONTACT
  */

  /*
  * LINES
  */
  .lines {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
  }
  .lines:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 320px;
    height: 100%;
    margin: 0 auto;
    content: "";
    pointer-events: none;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
  }
}
@media screen and (min-width: 1200px) {
  .lines {
    width: 1140px;
  }
  .lines:before {
    width: 380px;
  }
  .cases .slide-cases-mb {
    display: none;
  }
  .area-slide {
    display: block;
    opacity: 0;
    z-index: 90;
    width: 100%;
    height: 493px;
    margin-top: 76px;
    margin-bottom: 40px;
    overflow: hidden;
  }
  .area-slide .slide-capa-cases {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 90%;
    height: 100%;
    pointer-events: none;
  }
  .area-slide .slide-capa-cases .swiper-slide {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .area-slide .slide-capa-cases .swiper-slide.swiper-slide-thumb-active,
  .area-slide .slide-capa-cases .swiper-slide.swiper-slide-active,
  .area-slide .slide-capa-cases .swiper-slide.swiper-slide-prev {
    opacity: 1;
  }
  .area-slide .slide-capa-cases .swiper-slide.swiper-slide-next {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .area-slide .slide-about-cases {
    width: 330px;
    height: 400px;
    margin-right: 20px;
  }
  .area-slide .slide-about-cases .swiper-slide {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .area-slide .slide-about-cases .swiper-slide.swiper-slide-active {
    opacity: 1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .slide-capa-cases .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide-capa-cases .swiper-slide .box {
    width: 100%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide-about-cases .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 10px 10px;
  }
  .slide-about-cases .swiper-slide h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .slide-about-cases .swiper-slide h4 {
    font-size: 28px;
    line-height: 28px;
    color: var(--green-color);
  }
  .slide-about-cases .swiper-slide p {
    padding: 8px 0;
    font-size: 14px;
  }
  .slide-about-cases .swiper-slide h5 {
    font-size: 12px;
    font-weight: 600;
    color: var(--light-grey);
  }
  .control-slide {
    margin-top: -40px;
  }
  .control-slide .swiper-btn-prev,
  .control-slide .swiper-btn-next {
    z-index: 120;
    width: 40px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .control-slide .swiper-count-mb {
    display: none;
  }
  .control-slide .swiper-count {
    display: block;
  }
}

@media screen and (min-width: 1364px) {
  .area-slide .slide-about-cases {
    margin-right: 50px;
  }
  .area-slide .slide-about-cases {
    margin-right: -60px;
  }
  .slide-about-cases .swiper-slide {
    padding: 40px 10px 10px;
  }
  .slide-about-cases .swiper-slide h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .slide-about-cases .swiper-slide h4 {
    font-size: 36px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1600px) {
}

/*
* 10. ANIMATIONS
*/

@-moz-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-moz-keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes radial-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.8s ease-in-out 0.8s 1 normal forwards;
}
@keyframes reveal-block {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@keyframes reveal-block-up {
  0% {
    top: 0;
    transform: scaleY(0);
  }
  50% {
    top: 0;
    transform: scaleY(1);
  }
  100% {
    top: -140px;
    transform: scaleY(0);
  }
}
@keyframes reveal-block-down {
  0% {
    top: 0;
    transform: scaleY(0);
  }
  50% {
    top: 0;
    transform: scaleY(1);
  }
  100% {
    top: 140px;
    transform: scaleY(0);
  }
}
@keyframes reveal-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
* 11. SCROLL BAR
*/
::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: var(--white-color) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--dark-grey) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green-color) !important;
}
