/*------------------------------------------------------------------
[Comments table]

1. VARIABLES
2. GENERAL STYLE
    2.1 TYPOGRAPHY
    2.2 SPECIAL CLASSES
    2.3 FLEXBOX CLASSES
3. ASIDE
    3.1 BURGER BUTTON
    3.2 FULLSCREEN MENU
4. HOME 
5. ABOUT ME
6. CASES
7. CONTACT
8. PRELOADER
9. RESPONSIVE RULES
10. ANIMATIONS
11. SCROLL BAR
12. LINES PAGE DIVIDER
------------------------------------------------------------------*/

/**
 * 1. VARIABLES
 */
:root {
  --green-color: #6cff6c;
  --light-grey: #7d7d88;
  --dark-grey: #19191f;
  --white-color: #fff;
  --underline-intrinsic-width: 8;
  --underline-width: 12;
  --underline-color: var(--green-color);
  --underline-cap-width: 4px;
  --underline-offset-y: -2px;
  --underline-padding-x: 0.12em;
}

/**
 * 2. GENERAL STYLE
 */
::selection {
  background: var(--light-grey);
  color: var(--white-color);
}
::-moz-selection {
  background: var(--light-grey);
  color: var(--white-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}
html,
body {
  scroll-behavior: smooth;
  color: var(--dark-grey);
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
span {
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  outline: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/**
 * 2.1 TYPOGRAPHY
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
h1 {
  font-size: calc(48px + 1vw);
}
h6 {
  font-size: 16px;
}
blockquote {
  margin: 0 auto 15px;
  font-size: 1em;
}
p {
  font-size: 12px;
}

/**
 * 2.2 SPECIAL CLASSES
 */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.tags {
  color: var(--light-grey);
  position: fixed;
  bottom: 0;
  left: 10px;
  font-size: 18px;
  font-family: "La Belle Aurore", cursive;
  z-index: 800;
}
.top-tags {
  bottom: auto;
  top: 90px;
}
.bottom-tags {
  bottom: 20px;
}

/*
* 2.3 FLEXBOX CLASSES
*/
.flex-container {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
  justify-content: center;
}
.align-center--between {
  align-items: center;
  justify-content: space-between;
}
.align-center--evenly {
  align-items: center;
  justify-content: space-evenly;
}
.align-center--around {
  align-items: center;
  justify-content: space-around;
}

/*
* 3 ASIDE
*/
aside {
  position: fixed;
  width: 100%;
  z-index: 30;
}
aside .sidebar {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: var(--green-color);
  position: relative;
}
aside .ds-logo {
  width: 80px;
  height: 80px;
  margin-left: 5px;
}
.ds-nav--content {
  margin: 0 auto;
}
.txt-menu--content {
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
}
.txt-menu--content p {
  color: var(--white-color);
}

/**
 * 3.1 BURGER BUTTON
 */
.ds-nav--content {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.btn-nav--container {
  width: 70px;
  height: 20px;
  cursor: pointer;
  z-index: 999;
  background: transparent;
  border: none;
  outline: none;
}
.btn-nav {
  width: 100%;
  height: 3px;
  background: var(--white-color);
  top: 0;
  transition: all ease 0.2s;
  position: relative;
}
.btn-nav:before,
.btn-nav:after {
  content: "";
  position: absolute;
  left: 0;
  background: var(--white-color);
  height: 100%;
  transition: all ease 0.3s;
}
.btn-nav:before {
  top: -8px;
  width: 50%;
}
.btn-nav:after {
  top: 8px;
  width: 75%;
}
.btn-nav--container:hover .btn-nav:before,
.btn-nav--container:hover .btn-nav:after {
  width: 100%;
}
.btn-nav--container.close-menu .btn-nav {
  transform: rotate(-45deg);
}
.btn-nav--container.close-menu .btn-nav:after {
  opacity: 0;
  transition: all ease 0.2s;
}
.btn-nav--container.close-menu .btn-nav:before {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
  transition: all ease 0.2s;
  background: var(--white-color);
}

/**
 * 3.2 FULLSCREEN MENU
 */

.float-nav {
  z-index: 9;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
}
.float-nav .bg1,
.float-nav .bg2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(108, 255, 108, 0.6);
  top: 0;
  left: 100%;
  transition: all 0.7s ease 0.3s;
}
.float-nav .bg2 {
  z-index: 99;
  background: var(--green-color);
  transition-delay: 0s;
}
.float-nav .container {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  max-width: none;
}
.float-nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  opacity: 0;
  transition: all 0.3s ease 0s;
  padding: 0;
  margin: 40px 10px;
}
.float-nav ul::before,
.float-nav ul::after {
  text-transform: lowercase;
  position: absolute;
  font-size: 18px;
  color: var(--light-grey);
  font-family: "La Belle Aurore";
}
.float-nav ul::before {
  content: "<nav>";
  top: -30px;
}
.float-nav ul::after {
  content: "</nav>";
  bottom: -10px;
  right: 0;
}
.float-nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease 0.3s;
}
.float-nav ul li a {
  font-size: 18px;
  position: relative;
  font-weight: 600;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease 0.2s;
}
.float-nav ul li a span {
  margin-right: 15px;
}
.float-nav ul li a span img {
  width: 40px;
}
.float-nav.active .bg1,
.float-nav.active .bg2 {
  left: 0;
}
.float-nav.active .bg1 {
  transition-delay: 0s;
}
.float-nav.active .bg2 {
  transition-delay: 0.3s;
}
.float-nav.active ul {
  opacity: 1;
  transition-delay: 1s;
}
.float-nav .display-form {
  width: 100%;
  max-width: 650px;
}
.float-nav .display-form h4 span.markup {
  font-weight: 300;
}
.float-nav .display-form p {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
}

/*
* 4. HOME
*/
.home {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-grey);
  position: relative;
}
.home img {
  position: absolute;
  left: 0;
}
.home .display {
  position: relative;
}
.home .display h1 {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 500;
  transform: scale(1.2);
  margin-bottom: 10px;
}
.home .wrapper-txt {
  position: absolute;
  margin-top: 70px;
}
.home h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 0.2em;
  position: relative;
}
.home h4::before {
  content: "";
  width: 20%;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -2px;
  left: -5px;
}
.type-writer-text {
  transform: translate(-10%, -10%);
  border-right: 1px solid rgba(125, 125, 136, 0.1);
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 5s steps(40) 1.5s 1 normal both,
    cursorblink 0.5s infinite;
}
.scroll {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}
/*
* 5. ABOUT ME
*/

/*
* 6. CASES
*/

/*
* 7. CONTACT
*/

/*
* 8. PRELOADER
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999999999;
}
.preloader.immune {
  bottom: 0;
}
.preloader.white {
  background-color: rgba(255, 255, 255, 0.3);
}
.preloader.black {
  background-color: rgba(1, 1, 1, 0.5);
}
.preloader > i.radial-loader:not(:required) {
  -moz-animation: radial-loader 0.5s infinite linear;
  -webkit-animation: radial-loader 0.5s infinite linear;
  animation: radial-loader 0.5s infinite linear;
  border-color: var(--green-color);
  border-style: solid;
  border-width: 2px;
  border-right-color: transparent;
  border-radius: 100%;
  display: block;
  position: relative;
  float: right;
  margin: 10px 40px;
  overflow: hidden;
  width: 10px;
  height: 10px;
}
.preloader > span.loading-bar {
  -moz-animation: loading-bar 3s 1;
  -webkit-animation: loading-bar 3s 1;
  animation: loading-bar 3s 1;
  display: block;
  height: 2px;
  background-color: #ea6052;
  opacity: 0;
  transition: width 0.5s;
}
.preloader > span.loading-bar.green-colored {
  background-color: var(--green-color);
}
.preloader > .green-colored.radial-loader {
  border-color: var(--green-color);
  border-right-color: transparent !important;
}

/*
* 9. RESPONSIVE RULES
*/
@media screen and (min-width: 576px) {
  .home .murkup-line {
    margin-top: -4.2%;
  }
}
@media screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
  .tags {
    left: 90px;
  }
  h1 {
    font-size: calc(80px + 1vw);
  }
  h2 {
    font-size: calc(36px + 16 * (100vw - 992px) / 1508);
  }
  h3 {
    font-size: calc(28px + 16 * (100vw - 992px) / 1508);
    margin-bottom: 20px;
  }
  h4 {
    font-size: calc(24px + 16 * (100vw - 992px) / 1508);
    font-weight: 300;
  }
  h5 {
    font-size: 20px;
    font-weight: 400;
  }
  h6 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: calc(10px + 10 * (100vw - 992px) / 1508);
  }
  p {
    font-size: calc(14px + 2 * (100vw - 992px) / 1508);
    line-height: 1.8;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  aside {
    width: 80px;
    left: 0;
    bottom: 0;
  }
  aside .sidebar {
    width: 80px;
    height: 100vh;
    margin: 0 !important;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  aside .ds-logo {
    margin-left: 0;
  }
  .txt-menu--content p {
    transform: rotate(-90deg);
  }
  .home .wrapper-txt {
    position: absolute;
    right: 80px;
    writing-mode: vertical-lr;
  }
  .home h4 {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
    letter-spacing: 0.2em;
    position: relative;
  }
  .home h4::before {
    content: "";
    width: 2px;
    height: 20%;
    background-color: var(--green-color);
    position: absolute;
    top: -5px;
    left: -2px;
  }
}
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1364px) {
}

@media screen and (min-width: 1600px) {
}

/*
* 10. ANIMATIONS
*/

@-moz-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-moz-keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes radial-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 12.5em;
  }
}
@keyframes cursorblink {
  from {
    border-right: 1px solid #dedede;
  }

  to {
    border-right: 1px solid #666;
  }
}

/*
* 11. SCROLL BAR
*/
::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: var(--white-color) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--dark-grey) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green-color) !important;
}

/*
* 12. LINES PAGE DIVIDER
*/
.lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 0;
  pointer-events: none;
  z-index: 20;
}
.lines.ready {
  z-index: 10;
}
.lines .line-col {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100vh;
}
.lines.finish .line-col:before {
  height: 100%;
}
.lines .line-col:first-child:before {
  background: 0 0;
}
.lines .line-col:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 0%;
  background: rgba(125, 125, 136, 0.05);
}
